@import '../variables';

.deals {
    padding: 96px 16px;
    max-width: 1440px;
    margin: 0 auto;

    &_title {
        font-size: 44px;
        color: $text-color-primary;
        font-family: $font-family-ibm-plex-sans;
        text-transform: uppercase;

    }

    &_text {
        color: rgba(53, 255, 158, 1);
        padding: 4px;
        font-family: $font-family-ibm-plex-sans;

        &_circle {
            margin-top: 4px;
            background-color: #fff;
        }
    }


}