@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import '../variables';

.footer {
    background-color: $dark-bg-color;

    .footer_block {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;

        @media (max-width:760px) {
            flex-direction: column;
            gap: 80px;
            padding-top: 40px;
        }
    }

    .footer_container {
        display: flex;
        align-items: flex-end;

        @media (max-width:760px) {
            flex-direction: column;
        }

        .footer_nav {
            display: flex;
            flex-direction: row;

            @media (max-width:760px) {
                flex-direction: column;
            }

            &_link {
                display: flex;
                color: $text-color-secondary;
                text-decoration: none;
                font-size: $font-size-medium;
                font-weight: $font-weight-medium;
                transition: color 0.3s;
                margin-right: 24px;
                font-family: $font-family-ibm-plex-sans;

                @media (max-width:760px) {
                    margin-bottom: 16px;
                }

                &:hover {
                    color: $text-color-link;
                }
            }

            &_link:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    .footer_logo {
        display: flex;
        flex-direction: column;
        gap: 102px;

        .footer_bottom {

            .footer_bottom_text {
                font-family: $font-family-ibm-plex-sans;
                font-size: $font-size-small;
                font-weight: $font-weight-regular;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}