.footer {
    background-color: #0A0A0E;

    .footer_block {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
    }



    @media (max-width:760px) {
        flex-direction: column;
        gap: 80px;
        padding-top: 40px;
    }

    .footer_container {
        display: flex;
        align-items: flex-end;
        max-width: 1440px;

        @media (max-width:760px) {
            flex-direction: column;
        }

        .footer_nav {
            display: flex;
            flex-direction: row;

            @media (max-width:760px) {
                flex-direction: column;
            }

            &_link {
                display: flex;
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                transition: color 0.3s;
                margin-right: 24px;
                font-family: "IBM Plex Sans", sans-serif;

                @media (max-width:760px) {
                    margin-bottom: 16px;


                }

                &:hover {
                    color: #5ED5FC;
                }
            }

            &_link:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    .footer_logo {
        display: flex;
        flex-direction: column;
        gap: 102px;

        .footer_bottom {

            .footer_bottom_text {
                font-family: "IBM Plex Sans", sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}