@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import '../variables';

.hero_block {
    max-width: 1440px;
    display: flex;
    justify-content: center;


    @media (min-width: 760px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 160px 0 160x 80px;
    }

    @media (min-width: 850px) {
        padding-left: 40px;
        gap: 20px;
    }

    & .shorts {
        max-width: 300px;
        max-height: 134px;
        padding: 46px 59px 0 16px;

        @media (max-width: 300px) {
            padding: 36px 39px 0 16px;
        }

        @media (min-width: 760px) {
            max-width: 469px;
            max-height: 209px;
            flex: 0 0 50%;
            padding: 0;
            padding-right: 30px;
        }

        @media (max-width: 1100px) {
            padding-right: 30px;
        }

        & .shorts_img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    & .hero_block_text {
        & .hero_block_promo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 16px;

            & .hero_title {
                font-size: 35px;
                color: white;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 44px;
                letter-spacing: -4%;

                @media (max-width: 300px) {
                    font-size: 20px;
                    line-height: 24px;
                }

                @media (max-width: 760px) {
                    margin-top: 33px;
                }
            }

            & .hero_text {
                margin-top: 12px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: white;
                opacity: 0.7;
            }
        }

        & .input_wrapper {
            position: relative;
            width: auto;
            height: 50px;
            background: rgba(32, 26, 79, 1);
            display: flex;
            align-items: center;
            margin: 24px 16px 0 16px;
            max-width: 500px;

            @media (max-width: 320px) {
                margin: 14px 6px 0 16px;
            }

            & input {
                flex: 1;
                height: 100%;
                background: transparent;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 500;
                border: none;
                border-radius: 3px;
                color: #A9A3C1;
                font-size: 16px;
                padding: 0 10px;
                outline: none;

                &::placeholder {
                    color: #A9A3C1;
                }

                @media (max-width: 320px) {
                    font-size: 12px;
                    padding: 0 6px;
                }
            }

            & button {
                background: #5ED5FC;
                font-family: 'IBM Plex Sans', sans-serif;
                border: none;
                padding: 10px 15px;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: 0.3s;
                margin: 4px;

                &:hover {
                    background: #42C2E8;
                }

                @media (max-width: 320px) {
                    font-size: 12px;
                    padding: 8px 12px;
                }
            }
        }

        & .input_text {
            font-size: 14px;
            font-weight: 400;
            font-family: 'IBM Plex Sans', sans-serif;
            color: white;
            opacity: 0.3;
            margin-top: 12px;
            margin-left: 16px;
            padding-bottom: 37px;
        }
    }
}

.bg_bottom {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    display: block;
    margin-top: -10px;

    & .bg_bottom_img {
        display: block;
        margin: 0;
        width: 50%;
        height: auto;

        @media (max-width: 760px) {
            width: 60%;
        }
    }
}