@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.performance_section {
    background-color: white;
    display: flex;
    margin-top: -2px;
    flex-wrap: wrap;
    padding: 16px;
    padding-top: 26px;
    gap: 32px;
    align-items: center;
    justify-content: space-between;


    @media (min-width:650px) {
        flex-wrap: wrap;
    }

    .performance_section_title {
        font-size: 28px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 36px;

        @media (min-width:760px) {
            font-size: 44px;
        }
    }

    .performance_section_date {
        font-size: 14px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 5px;
    }

    .performance_section_text {
        font-size: 14px;
        line-height: 20px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }

    .performance_section_amount {
        font-size: 35px;
        font-family: 'IBM Plex Sans', sans-serif;
        letter-spacing: -2%;
        text-transform: uppercase;
        color: rgba(106, 84, 255, 1);
    }
}