.questions_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
    max-width: 1440px;

    .questions_section_title {
        font-size: 28px;
        line-height: 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 56px;

    }

    .questions_section_information {
        background-color: rgba(106, 84, 255, 1);
        color: white;
        padding: 16px;
        margin-top: 40px;
        border-radius: 4px;
        max-width: 846px;
        box-sizing: border-box;
        display: none;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.show {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }

        .questions_section_information_title {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 12px;
        }

        .questions_section_information_text {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;

        }


    }

    .questions_list_block {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 846px;
        width: 100%;



        .questions_list_block_alert {
            background-color: rgba(234, 239, 240, 1);
            padding: 16px;
            max-width: 846px;
            border: none;
            width: 100%;
            max-width: 846px;
            cursor: pointer;
        }

    }
}