@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import '../variables';

.questions_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
    max-width: 1440px;

    .questions_section_title {
        font-size: $font-size-title;
        line-height: 36px;
        font-family: $font-family-ibm-plex-sans;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-top: 56px;
    }

    .questions_section_information {
        background-color: rgba(106, 84, 255, 1);
        color: $text-color-primary;
        padding: 16px;
        margin-top: 40px;
        border-radius: 4px;
        max-width: 846px;
        box-sizing: border-box;
        display: none;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.show {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }

        .questions_section_information_title {
            font-family: $font-family-ibm-plex-sans;
            font-size: $font-size-large;
            font-weight: $font-weight-medium;
            line-height: 28px;
            margin-bottom: 12px;
        }

        .questions_section_information_text {
            font-family: $font-family-ibm-plex-sans;
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            line-height: 20px;
        }
    }

    .questions_list_block {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 846px;
        width: 100%;

        .questions_list_block_alert {
            background-color: rgba(234, 239, 240, 1);
            padding: 16px;
            max-width: 846px;
            border: none;
            width: 100%;
            cursor: pointer;
        }
    }
}