@use './_variables' as *;

.card-list {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 10px 50px;

    .card-container {
        display: flex;
        gap: 16px;

    }
}

.card {
    width: 299px;
    height: 208px;
    background-color: #4b3aff;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    color: white;
    font-family: $font-family-ibm-plex-sans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    box-sizing: border-box;

    @media (max-width:350px) {
        width: 199px;
        height: 108px;
    }

    &-title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &-subtitle {
        font-size: 12px;
        opacity: 0.7;
    }

    &-profit {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.7;
        margin-bottom: 2px;
    }

    &-profit-value {
        font-size: 28px;
        font-weight: 500;
        color: #00ff00;
    }

    &-goal {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 110px;

        @media (max-width:350px) {
            margin-right: 20px;
        }
    }

    &-date {
        font-size: 10px;
        opacity: 0.7;
        text-align: right;
    }

    &-corner {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 50px;
        height: 50px;
        background-color: #030718;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}