@use './_variables' as *;

.hero_block {
    display: flex;
    justify-content: center;
    display: block;

    @media (min-width: 760px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 160px 0 160px 80px;
    }

    @media (min-width: 850px) {
        padding-left: 40px;
        gap: 20px;
    }

    & .shorts {
        max-width: 300px;
        max-height: 134px;
        padding: 46px 59px 0 16px;

        @media (max-width: 300px) {
            padding: 36px 39px 0 16px;
        }

        @media (min-width: 760px) {
            max-width: 469px;
            max-height: 209px;
            flex: 0 0 50%;
            padding: 0;
            padding-right: 30px;
        }

        @media (max-width: 1100px) {
            padding-right: 30px;
        }

        & .shorts_img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    & .hero_block_text {
        & .hero_block_promo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 16px;

            & .hero_title {
                font-size: $font-size-title;
                color: $text-color-primary;
                font-family: $font-family-ibm-plex-sans;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                line-height: 44px;
                letter-spacing: -4%;

                @media (max-width: 300px) {
                    font-size: $font-size-small;
                    line-height: 24px;
                }

                @media (max-width: 760px) {
                    margin-top: 33px;
                }
            }

            & .hero_text {
                margin-top: 12px;
                font-family: $font-family-ibm-plex-sans;
                font-size: $font-size-medium;
                font-weight: $font-weight-regular;
                color: $text-color-primary;
                opacity: 0.7;
            }
        }

        & .input_wrapper {
            position: relative;
            width: auto;
            height: 50px;
            background: $input-background;
            display: flex;
            align-items: center;
            margin: 24px 16px 0 16px;
            max-width: 500px;

            @media (max-width: 320px) {
                margin: 14px 6px 0 16px;
            }

            & input {
                flex: 1;
                height: 100%;
                background: transparent;
                font-family: $font-family-ibm-plex-sans;
                font-weight: $font-weight-medium;
                border: none;
                border-radius: 3px;
                color: $input-text-color;
                font-size: $font-size-medium;
                padding: 0 10px;
                outline: none;

                &::placeholder {
                    color: $input-text-color;
                }

                @media (max-width: 320px) {
                    font-size: $font-size-small;
                    padding: 0 6px;
                }
            }

            & button {
                background: $button-background;
                font-family: $font-family-ibm-plex-sans;
                border: none;
                padding: 10px 15px;
                border-radius: 3px;
                font-size: $font-size-medium;
                font-weight: $font-weight-medium;
                cursor: pointer;
                transition: 0.3s;
                margin: 4px;

                &:hover {
                    background: $button-hover-background;
                }

                @media (max-width: 320px) {
                    font-size: $font-size-small;
                    padding: 8px 12px;
                }
            }
        }

        & .input_text {
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
            font-family: $font-family-ibm-plex-sans;
            color: white;
            opacity: 0.3;
            margin-top: 12px;
            margin-left: 16px;
            padding-bottom: 37px;
        }
    }
}

.bg_bottom {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    display: block;
    margin-top: -10px;

    & .bg_bottom_img {
        display: block;
        margin: 0;
        width: 50%;
        height: auto;

        @media (max-width: 760px) {
            width: 60%;
        }
    }
}