@use './_variables' as *;

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 21px;
    margin-top: 20px;
    max-width: 1440px;
    padding: 0 16px 20px 16px;

    @media (max-width: 350px) {
        padding: 5px;
    }


    .pricing-card {
        max-width: 420px;
        padding: 24px 16px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(106, 84, 255, 1);
        box-sizing: border-box;
        transition: background-color 0.3s, transform 0.3s;
        justify-items: start;
        justify-content: flex-start;
        align-items: flex-start;

        @media (max-width:350px) {
            padding: 5px 6px;

        }

        &:hover {
            background-color: rgba(94, 0, 255, 1) !important;
            cursor: pointer;
            transform: scale(1.05);

            @media (max-width:350px) {
                transform: scale(1.0);
            }
        }

        &.standard {
            background-color: transparent;
            color: $text-color-primary;
        }

        &.vip {
            background-color: transparent;
            color: $text-color-primary;

        }

        .card-title {
            font-size: $font-size-title;
            color: $text-color-primary;
            font-family: $font-family-ibm-plex-sans;
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media (max-width:350px) {
                padding: 5px 6px;
                font-size: large;
            }


        }

        .features {
            flex: 1;
            padding: 12px 0;
            font-size: $font-size-medium;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: $font-family-ibm-plex-sans;

            .feature {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .price-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 26px;

            .price {
                font-size: $font-size-title;
                font-weight: $font-weight-medium;
                font-family: $font-family-ibm-plex-sans;
                flex-grow: 1;

                @media (max-width:350px) {
                    font-size: large;
                }
            }

            .discount {
                font-size: $font-size-large;
                color: #32cd32;
                vertical-align: top
            }

            .duration {
                background: rgba(255, 255, 255, 0.2);
                padding: 6px 12px;
                border-radius: 4px;
                font-size: $font-size-medium;
                font-weight: $font-weight-regular;
                font-family: $font-family-ibm-plex-sans;
                cursor: pointer;
                border: none;
                color: $text-color-primary;
                display: flex;
                align-items: center;
                gap: 4px;

                .arrow {
                    margin-top: 5px
                }


            }
        }

        .button {
            background: $button-background;
            color: black;
            text-align: center;
            padding: 12px 0;
            border-radius: 4px;
            width: 100%;
            font-weight: $font-weight-bold;
            cursor: pointer;
            transition: 0.3s;
            font-family: $font-family-ibm-plex-sans;

            @media (max-width:300px) {}

            &:hover {
                background: $button-hover-background;
            }

            .sub-text {
                font-size: $font-size-small;
                opacity: 0.8;
                font-family: $font-family-ibm-plex-sans;
                font-weight: $font-weight-regular;
                color: rgba(3, 7, 24, 0.7);
            }
        }
    }

    @media (min-width: 769px) {
        .pricing-card {
            width: 413px;
            height: 556px;
            padding: 24px 16px;
        }
    }
}